@charset "UTF-8";
html, body {
	-ms-touch-action: none;
	background: #000000;
	padding: 0;
	border: 0;
	margin: 0;
	height: 100%;
}
.bg{
  position: absolute;
  width: 100%;
  height: 100%;
}
.bg2{
  position: absolute;
  width: 7.4615%;
  height: 15%;
  left:390px;
  top:470px;
}
.bg_share{
  position: absolute;
  width: 100%;
}
.bg_s{
  position: absolute;
  width: 100%;
}
.phone{
  position: absolute;
  width:32.9%;
}
.share{
  position: absolute;
  width: 32.9%;
}
.share_hint{
  position: absolute;
  width: 11.4%;
  left: 79.7%;
  top: 6%;
}
.share_text{
  position: absolute;
}
.tip{
  position: absolute;
  width: 100%;
  height: 100%;
  background:#000;
}
.tip_s{
  position: absolute;
  width: 100%;
  height: 100%;
  background:#000;
}
.btn{
  position: absolute;
  width: 100%;
  height: 100%;
  background:#000;
}
.btn1{
  position: absolute;
  width: 100%;
  height: 100%;
}
.play_btn{
  position: absolute;
  width: 100%;
  height: 100%;
  background:#000;
}
video{
	width: 100%;
	height: 100%;
	line-height: 0;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
video::-webkit-media-controls-enclosure {
    display: none !important;
}
.vd{
	width: 100%;
	height: 100%;
	background:#000;
	position: absolute;
}
.hide{
  display: none;
}
.anime{
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.anime2{
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}
.anime3{
  animation:myfirst 3s infinite;
	-webkit-animation:myfirst 3s infinite;
}
.anime4{
  animation:myfirst2 2s infinite;
	-webkit-animation:myfirst2 2s infinite;
}
.animeqc{
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
	0%   {left:79.7%; top:6%;}
	50%{left:83.4%; top:3.2%;}
	100%{left:79.7%; top:6%;}
}
@keyframes myfirst /* Safari 和 Chrome */
{
	0%   {left:79.7%; top:6%;}
	50%{left:83.4%; top:3.2%;}
	100%{left:79.7%; top:6%;}
}
@-webkit-keyframes myfirst2 /* Safari 和 Chrome */
{
	0%   {transform:scale(1);}
	50%{transform:scale(1.2);}
	100%{transform:scale(1);}
}
@keyframes myfirst2 /* Safari 和 Chrome */
{
	0%   {transform:scale(1);}
	50%{transform:scale(1.1);}
	100%{transform:scale(1);}
}
